<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">



<dom-module id="abas-dashboardadmin-groups-widget">
    <template>
        <abas-config-meta data="{{configuration}}"></abas-config-meta>

        <custom-style>
            <style is="custom-style" include="abas-widget-style">
                :host {
                    display: block;
                    background: var(--abas-black-800);
                }

                [slot="content"] {
                    height: 100%;
                    padding: 20px;
                }

                .hidden {
                    display: none;
                }

                .clickMe:hover {
                    cursor: pointer;
                }

                .secondary {
                    margin-left: 10px;
                }

                .someHeight {
                    min-height: 75px;
                }

                paper-listbox {
                    position: absolute;
                    height: calc(100% - 130px);
                    width: calc(100% - 47px);
                    overflow-y: scroll;
                    border-style: inset;
                    background: whitesmoke;
                    display: flex;
                    flex-direction: column;

                }

                paper-item-body {
                    min-width: fit-content;
                }

                paper-item {
                    border-style: solid;
                    border-color: whitesmoke;
                    background: white;
                }

                #top {
                    display: flex;
                    padding-bottom: 10px;
                }

                paper-button {
                    background-color: #91e4d7;
                    min-width: fit-content;
                }

                paper-button:hover {
                    background-color: #4fbdac;
                }

                paper-item>paper-button {
                    font-size: small;
                }

                .buttons>paper-button {
                    color: black;
                }

                .italic {
                    font-style: italic;

                }

                .edit {
                    background-color: #c7c2c2;
                }

                .edit:hover {
                    background-color: #b8b3b3;
                }
            </style>
        </custom-style>
        <aba-widget>
            <div slot="content">
                <!-- viewer -->
                <div id="viewer">
                    <div id="top">
                        <paper-button on-tap='_openAddDialogButtonTapped' raised>[[localize('addGroup')]]</paper-button>
                        <paper-input label="[[localize('filterGroup')]]" value="{{filterGroup}}"></paper-input>
                    </div>
                    <paper-listbox>
                        <template is="dom-repeat" items="[[_filteredGroups]]">
                            <paper-item>
                                <paper-item-body two-line>
                                    <div>[[item.name]]</div>
                                    <div secondary>ID: [[item.id]]</div>
                                    <div class="italic" secondary> [[localize('members')]]: [[item.users.length]]
                                        Dashboards: [[item.dashboards.length]]</div>
                                </paper-item-body>
                                <paper-button on-tap="_openUpdateView">[[localize('update')]]</paper-button>
                                <paper-button on-tap="_openDialog">[[localize('delete')]]</paper-button>
                            </paper-item>
                        </template>
                    </paper-listbox>
                </div>

                <!-- creator -->
                <div id="creator" class="hidden">
                    <paper-button raised on-tap="_cancelCreator">[[localize('cancel')]]</paper-button>
                    <paper-button id="creatorSubmitButton" raised on-tap="_submitGroup">[[localize('submit')]]
                    </paper-button>
                    <paper-input id="creatorIdInput" label="[[localize('groupID')]]" always-float-label
                        value="{{creatorModel.id}}"></paper-input>
                    <paper-input id="creatorNameInput" label="[[localize('groupName')]]" always-float-label required
                        value="{{creatorModel.name}}"></paper-input>
                    <paper-input label="[[localize('description')]]" always-float-label required
                        value="{{creatorModel.description}}"></paper-input>
                    <paper-button class="edit" on-tap="_openUsersView">[[localize('members')]]:
                        [[creatorModel.users.length]]</paper-button>
                    <paper-button class="edit" on-tap="_openDashboardsView">Dashboards:
                        [[creatorModel.dashboards.length]]</paper-button>
                </div>

                <!-- users view -->
                <div id="usersView" class="hidden">
                    <div id="top">
                        <paper-button raised on-tap="_backToCreator">[[localize('back')]]</paper-button>
                        <paper-input label="[[localize('filterUsers')]]" value="{{filterUsers}}"></paper-input>
                    </div>
                    <paper-listbox>
                        <template is="dom-repeat" items="[[_filteredTenantUsers]]">
                            <paper-item role="menuitemcheckbox" class="someHeight">
                                <paper-item-body two-line>
                                    <div>[[item.email]]</div>
                                    <div secondary class="secondary">[[item.user_id]]</div>
                                    <div secondary class="secondary">[[item.username]]</div>
                                </paper-item-body>
                                <paper-checkbox checked="[[_userInGroup(item, creatorModel, redrawUserToggles)]]"
                                    on-tap="_userCheckAction"></paper-checkbox>
                            </paper-item>
                        </template>
                    </paper-listbox>
                </div>

                <!-- dashboards view-->
                <div id="dashboardsView" class="hidden">
                    <div id="top">
                        <paper-button raised on-tap="_backToCreator">[[localize('back')]]</paper-button>
                        <paper-input label="[[localize('filterDashboards')]]" value="{{filterDashboards}}">
                        </paper-input>
                    </div>
                    <paper-listbox>
                        <template is="dom-repeat" items="[[_filteredDashboards]]">
                            <paper-item role="menuitemcheckbox">
                                <paper-item-body two-line>
                                    <div>[[item.title]]</div>
                                    <div secondary>[[item.id]]</div>
                                </paper-item-body>
                                <paper-checkbox
                                    checked="[[_dashboardInGroup(item, creatorModel, redrawDashboardToggles)]]"
                                    on-tap="_dashboardCheckAction"></paper-checkbox>
                            </paper-item>
                        </template>
                    </paper-listbox>
                </div>
            </div>

        </aba-widget>
        <paper-dialog id="deleteGroupDialog">
            <h2>[[localize("delete_confirm", "Title", _groupToDelete.name)]]</h2>
            <div class="buttons">
                <paper-button dialog-dismiss class="cancel">[[localize("cancel")]]</paper-button>
                <paper-button dialog-confirm raised class="confirm" on-tap="_deleteGroup">[[localize("delete")]]
                </paper-button>
            </div>
        </paper-dialog>
    </template>

    <script>
        class AbasDashboardadminGroupsWidget extends ABAS.WidgetBehavior(Polymer.Element) {
            constructor() {
                super();
                this._boundGroupModelChangedHandler = this._groupModelChangeNotification.bind(this);
                this.resetCreatorModel();
            }
            static get is() { return 'abas-dashboardadmin-groups-widget' }
            static get properties() {
                return {
                    groups: {
                        type: Array
                    },
                    tenantUsers: {
                        type: Array
                    },
                    dashboards: {
                        type: Array
                    },
                    errorMessage: {
                        type: String
                    },
                    modelState: {
                        type: String,
                        value: 'notInitialized'
                    },
                    tenantUsersModelState: {
                        type: String,
                        value: 'notInitialized'
                    },
                    dashboardsModelState: {
                        type: String,
                        value: 'notInitialized'
                    },
                    creatorModel: {
                        type: Object,
                        value: {}
                    },
                    configuration: {
                        observer: '_configChanged'
                    },
                    redrawUserToggles: { type: Boolean, value: true },
                    redrawDashboardToggles: { type: Boolean, value: true },
                    views: {
                        type: Array
                    },
                    filterGroup: {
                        type: Array,
                        observer: "_filterGroups",
                        value: ""
                    },
                    filterUsers: {
                        type: Array,
                        observer: "_filterUsers",
                        value: ""
                    },
                    filterDashboards: {
                        type: Array,
                        observer: "_filterDashboards",
                        value: ""
                    },
                };
            }
            static get observers() {
                return ['creatorModelChanged(creatorModel.name, creatorModel.id)']
            }
            resetCreatorModel() {
                this.set('creatorModel.id', '');
                this.set('creatorModel.name', '');
                this.set('creatorModel.description', '');
                this.set('creatorModel.users', []);
                this.set('creatorModel.dashboards', []);
            }
            modelInit() {
                this.loadGroups();
                this.loadUsers(1, []);
                this.loadDashboards();
            }
            loadGroups() {
                return auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/admin/groups`, {
                    method: 'GET'
                }).then(response => {
                    if (!response.ok) throw response
                    return response.json()
                }).then(groups => {
                    groups = _.sortBy(groups, item => { return item.name.toUpperCase() })
                    this.set('groups', groups)
                    this.set("_filteredGroups", JSON.parse(JSON.stringify(groups)))
                    this.set('modelState', 'ready')
                }).catch(error => {
                    this.set('errorMessage', 'failed to load groups')
                    this.set('modelState', 'error')
                })
            }
            loadUsers(page, users) {
                return auth0Fetch(`${this.configuration.api.adminBaseURL}/admin/api/v1/users?pageNumber=${page}&amountPerPage=100`, {
                    method: 'GET'
                }).then(response => {
                    if (!response.ok) throw response
                    return response.json()
                }).then(result => {
                    result.items.forEach(item => {
                        users.push(item)
                    })
                    // Load next page, if there are more users
                    if (users.length < result.total) this.loadUsers(page += 1, users);
                    // Else all users have been loaded.
                    else {
                        users = _.sortBy(users, item => { return _.get(item, 'email', '').toUpperCase() } );
                        this.set('tenantUsers', users)
                        this.set("_filteredTenantUsers", JSON.parse(JSON.stringify(users)))
                        this.set('tenantUsersModelState', 'ready')
                    }
                }).catch(error => {
                    this.set('errorMessage', 'failed to load groups')
                    this.set('modelState', 'error')
                })
            }
            loadDashboards() {
                return auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/dashboards/?short=true`, {
                    method: 'GET'
                }).then(response => {
                    if (!response.ok) throw response
                    return response.json()
                }).then(dashboards => {
                    dashboards = _.filter(dashboards, { 'type': 'custom' });
                    dashboards = _.sortBy(dashboards, item => { return item.title.toUpperCase() })
                    this.set('dashboards', dashboards)
                    this.set("_filteredDashboards", JSON.parse(JSON.stringify(dashboards)))
                    this.set('dashboardsModelStatedashboardseady')
                }).catch(error => {
                    console.log(error)
                    this.set('errorMessage', 'failed to load dashboards')
                    this.set('dashboardsModelState', 'error')
                })
            }
            creatorModelChanged(groupName, groupId) {
                let validation = this.validateCreatorModel()
                this.showValidatonInCreatorForm(validation);
            }

            _submitGroup(_event) {
                let validation = this.validateCreatorModel();
                if (!validation.ok) {
                    console.log('INVALID model should not appear here')
                    return;
                }
                this.submitCreatorModel()
                    .then(() => {
                        this.set('modelState', 'loading');
                        this.loadGroups().then(() => {
                            this.hide(this.$.creator);
                            this.show(this.$.viewer)
                            this.set("filterGroup", "")
                        })
                    }).then(() => {
                        let event = new CustomEvent(AbasDashboardadminGroupsWidget.is + ':groupmodelChanged', {
                            bubbles: true,
                            composed: true,
                            detail: {}
                        });
                        window.dispatchEvent(event)
                    });
            }

            submitCreatorModel(group) {
                return auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/admin/groups`, {
                    method: 'POST',
                    headers: new Headers({
                        "content-type": "application/json"
                    }),
                    body: JSON.stringify(this.creatorModel)
                }).then(response => {
                    if (!response.ok) throw response
                }).catch(error => {
                    this.set('errorMessage', 'post groups failed')
                })
            }

            validateCreatorModel() {
                let validation = {
                    ok: true,
                    id: { ok: true },
                    name: { ok: true }
                }
                if (!this.creatorModel.id || this.creatorModel.id.trim().length < 3) {
                    validation.id.error = 'ID is too short';
                    validation.id.ok = false
                }
                if (!this.creatorModel.name || this.creatorModel.name.trim().length < 3) {
                    validation.name.error = 'Name is too short'
                    validation.name.ok = false
                }
                validation.ok = validation.id.ok && validation.name.ok
                return validation;
            }

            showValidatonInCreatorForm(validation) {
                this.$.creatorSubmitButton.disabled = !validation.ok
                if (!validation.id.ok) {
                    this.$.creatorIdInput.invalid = true
                    this.$.creatorIdInput.errorMessage = validation.id.error
                } else {
                    this.$.creatorIdInput.invalid = false;
                    this.$.creatorIdInput.set('errorMessage', "")
                }
                if (!validation.name.ok) {
                    this.$.creatorNameInput.invalid = true
                    this.$.creatorNameInput.set('errorMessage', validation.name.error)
                } else {
                    this.$.creatorNameInput.invalid = false;
                    this.$.creatorNameInput.set('errorMessage', "")
                }
            }

            // Filters

            _filterGroups() {
                if (!this._filteredGroups) return
                let result = this.groups.filter(group => {
                    return group.name.toUpperCase().includes(this.filterGroup.toUpperCase()) || group.id.toUpperCase().includes(this.filterGroup.toUpperCase())
                })
                this.set('_filteredGroups', result)
            }

            _filterUsers() {
                if (!this.tenantUsers) return
                let result = this.tenantUsers.filter(user => {
                    let username = _.get(user, 'username', '').toUpperCase();
                    let user_id = _.get(user, 'user_id', '').toUpperCase();
                    let email = _.get(user, 'email', '').toUpperCase();
                    return username.includes(this.filterUsers.toUpperCase()) || user_id.includes(this.filterUsers.toUpperCase()) || email.includes(this.filterUsers.toUpperCase());
                })
                this.set('_filteredTenantUsers', result)
            }

            _filterDashboards() {
                if (!this.dashboards) return
                let result = this.dashboards.filter(dashboard => {
                    return dashboard.title.toUpperCase().includes(this.filterDashboards.toUpperCase()) || dashboard.id.includes(this.filterDashboards)
                })
                this.set('_filteredDashboards', result)
            }

            // Delete a Group

            _openDialog(event) {
                this.set("_groupToDelete", event.model.item)
                this.$.deleteGroupDialog.open();
            }

            _deleteGroup(event) {
                auth0Fetch(`${this.configuration.api.dashboardBaseURL}/api/v2/admin/groups/${this._groupToDelete.id}`, {
                    method: 'DELETE'
                }).then(response => {
                    if (!response.ok) throw response
                }).then(() => {
                    this.set('modelState', 'loading');
                    this.loadGroups().then(() => {
                        this.hide(this.$.creator);
                        this.show(this.$.viewer)
                    })
                }).then(() => {
                    let event = new CustomEvent(AbasDashboardadminGroupsWidget.is + ':groupmodelChanged', {
                        bubbles: true,
                        composed: true,
                        detail: {}
                    });
                    window.dispatchEvent(event)
                }).catch(error => {
                    this.set('errorMessage', 'delete group failed')
                })
            }

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
                this.views = [this.$.viewer, this.$.creator, this.$.usersView, this.$.dashboardsView];
                window.addEventListener('abas-dashboardadmin-users-widget:groupmodelChanged', this._boundGroupModelChangedHandler)
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('abas-dashboardadmin-users-widget:groupmodelChanged', this._boundGroupModelChangedHandler)
            }

            _groupModelChangeNotification() {
                this.modelInit();
            }

            _configChanged(nw, old) {
                if (nw) {
                    this.modelInit()
                }
            }
            _dashboardInGroup(item, creatorModel) {
                return creatorModel.dashboards.findIndex(entry => { return entry === item.id }) !== -1;
            }
            _userInGroup(user, creatorModel) {
                return creatorModel.users.findIndex(entry => { return entry === user.email }) !== -1;
            }
            _dashboardCheckAction(event) {
                let addDashboard = event.target.checked;
                let dashboardId = _.get(event, 'model.item.id');
                if (!dashboardId) {
                    console.log('no dashboard id  cm.d. action failed')
                    return;
                }
                if (addDashboard) {
                    this.push('creatorModel.dashboards', dashboardId);
                } else {
                    let index = this.creatorModel.dashboards.findIndex((entry) => { return entry === dashboardId })
                    if (index < 0) {
                        console.log('dashboard id not found in cm.d. remove failed')
                        return;
                    }
                    this.splice('creatorModel.dashboards', index, 1)
                }
            }
            _userCheckAction(event) {
                // not checked means "was" not checked and "will" be checked
                let addUser = event.target.checked;
                let user = event.model.item;
                if (addUser) {
                    this.push('creatorModel.users', user.email);
                } else {
                    let index = this.creatorModel.users.findIndex((entry) => { return entry === user.email })
                    if (index < 0) {
                        console.log('user not found in cm.u. remove failed')
                        return;
                    }
                    this.splice('creatorModel.users', index, 1)
                }
            }
            _backToCreator(_event) {
                this.hideAllViews();
                this.show(this.$.creator);
                this.set("filterUsers", "")
                this.set("filterDashboards", "")
            }
            _openDashboardsView(event) {
                this.set('redrawDashboardToggles', !this.redrawDashboardToggles);
                this.hideAllViews();
                this.show(this.$.dashboardsView);
            }
            _openUsersView(event) {
                this.set('redrawUserToggles', !this.redrawUserToggles);
                this.hideAllViews();
                this.show(this.$.usersView);
            }
            _openUpdateView(event) {
                let group = event.model.item;
                // prepare creator model
                this.set('creatorModel.id', group.id);
                this.set('creatorModel.name', group.name);
                this.set('creatorModel.description', group.description);
                this.set('creatorModel.users', group.users || []);
                this.set('creatorModel.dashboards', group.dashboards || []);
                this.openAddDialog();
            }
            _openAddDialogButtonTapped(_event) {
                this.resetCreatorModel();
                this.openAddDialog();
            }
            openAddDialog() {
                this.hideAllViews();
                this.show(this.$.creator)
            }
            _cancelCreator(_event) {
                this.hideAllViews();
                this.show(this.$.viewer)
            }
            hideAllViews() {
                this.hide(...this.views)
            }
            hide(...nodes) {
                nodes.forEach(element => {
                    element.classList.add('hidden');
                });
            }
            show(...nodes) {
                nodes.forEach(element => {
                    element.classList.remove('hidden');
                });
            }
        }
        customElements.define(AbasDashboardadminGroupsWidget.is, AbasDashboardadminGroupsWidget);
    </script>
</dom-module>